/* HEADER */
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

header h2 {
    font-size: 24px;
}


/* BODY */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center; 
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 40px;
}

section {
    text-align: center;
    padding: 20px;
    border: 2px solid #000;
    margin: 10px;
    font-size: 1.5em;
}

.acercade {
    font-size: 1.5em;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.contenedor-imagen:hover img {
    transform: scale(1.08);
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    font-size: 18px;
    margin: 0;
}